<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
	<h1>iframe loop</h1>
	<nav>
		by <a href="https://ciphrd.com">ciphrd</a> / 
		<a href="ttps://ciphrd.com/2021/02/10/iframe-feedback-a-fun-technique-with-iframes-on-the-web/">article</a> / 
		<a href="https://github.com/bcrespy/iframe-feedback">source code</a>
	</nav>
</body>
</html>
