<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
	<h1>iframe loop</h1>
	<nav>
		by <a href="https://ciphrd.com">ciphrd</a> / <a href="#">article</a> / <a href="#">source code</a>
	</nav>
</body>
</html>
