// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	overflow: hidden;	// hides the scrollbar if window gets too small
	width: 100vw;			// set the body to the same size as the viewport
	height: 100vh;
}

iframe {
	width: 80vw;	// 90% of the width
	height: 80vh;	// 90% of the height
}

h1 {
	position: absolute;	// makes the title "float" on the top left
}

nav {
	position: absolute;
	bottom: 0;
	right: 0;
}